@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   This software is a conference management System
</div>

<div class="row">
   <h1>Hi, to get further function, please log in first. </h1>
    <h2> This is the Conference manage System, so Please select the conference First</h2>
</div>